<html lang="en" >
<head>
	<meta charset="UTF-8" />
  <title>netlibox</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
  <link rel="stylesheet" href="/styles.css" />
  <link rel="shortcut icon" href="favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>
<body>
  <header>
    <h1>
      Hepzibah
      <small>
        <a href="https://github.com/jimniels/netlibox" title="Code on Github">How this site works</a> is what’s actually interesting here.
      </small>
    </h1>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    I miss my dad. This blog contains some memories of him, and some of the things he stood for. As I look back, he was a man who was lovingly created and loved to create, delighted in, and in the end, restored // Isaiah 62:4
  </footer>
</body>
</html>
