/* Pay no attention to whether this is a "best practice" for writing styles
   this is purely for the purpose of a simple demo. */
html {
  font-size: 1em;
}
body {
  font-family: 'Space Mono', monospace;
  line-height: 1.7;
  max-width: 45rem;
  width: 90%;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:hover {
  color: #000;
  background: #d2b48c;
}
time a {
  border-bottom: none;
  opacity: 0.25;
}
time a:hover {
  opacity: 0.75;
  border-bottom: 1px solid;
}
main h1,
main h2,
main h3,
main h4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.0125rem;
}
blockquote {
  border-left: 1px solid #999;
  margin: 0;
  padding-left: calc(1.618rem / 2);
}
article {
  margin-bottom: calc(1.618rem * 3);
}
header {
  margin-bottom: calc(1.618rem * 3);
  padding: calc(1.618rem / 2) 0;
}
header small {
  font-size: 50%;
  font-weight: normal;
  display: block;
  padding-top: 20px;
}
footer {
  margin: 120px 0 10px;
  opacity: 0.5;
  font-size: 0.75rem;
}
ul {
  list-style: none;
  padding-inline-start: 0px;
}
li {
  padding-bottom: 20px;
}

/* night mode css */

body.night
{
	background:#00151f;
	transition: 0.5s;
}

.toggle
{
	position: absolute;
	top:40px;
	right:50px;
	background: #fff;
	border:2px solid #00151f;
	height: 20px;
	width: 45px;
	cursor: pointer;
	border-radius: 20px;
	transition: 0.5s;

}
.toggle.active
{
	background:#00151f;
	border:2px solid #fff;
}
.toggle:before
{
	content: '';
	position:absolute;
	top:2px;
	left:2px;
	width:16px;
	height:16px;
	background:#00151f;
	border-radius:50%;
	transition: 0.5s;
}
.toggle.active:before
{
	left:27px;
	background:#fff;

}
body.night .content h1, 
body.night .content p
{
	color:#fff;
}
